<h1>Items</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item.name, collection_item_path(item.collection, item) %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
